

.nav-styel{
  background-color: var(--secondary);
  padding: 10px;
  font-weight: bold;
}
.nav-link:focus{
  background-color: var(--purple);
  border-radius: 5px;
  color: white !important;

}

.w-10{
  width: 10%;
}